/x64/
/debug/
/packages
/release/
.vs/
/.vs
.vs/raytracing-main/FileContentIndex/d4c46428-eb26-419b-92ca-9465752b8ffb.vsidx
.vs/raytracing-main/FileContentIndex/d4c46428-eb26-419b-92ca-9465752b8ffb.vsidx
.vs/raytracing-main/v17/.suo
.vs/raytracing-main/v17/DocumentLayout.json
/.vs
